html {
  font-size: 1em;
  height: 100%;
}

body {
  background-color: black;
  height: 100%;
}

video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(ulivearth.png) no-repeat;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
.center-container{
  height: 100%;
}

.center-block{
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
  background-color: rgba(0,0,0,0.3);
  opacity: 0.15;
  padding-top: 5em;
  padding-bottom: 5em;
  position: fixed;
  min-width: 600px;
  width: 50%;
  color: skyblue;
  vertical-align: middle;
  text-align: center;
  display: block;
  -webkit-transform: translate(-50%,-50%);
  top:50%;
  left:50%;
}

.center-block:hover{
  opacity: 1;
}

h1 {
  font-size: 5em; /* 80px; */
  line-height: 1em; /* 80px; */
}

.question {
  font-size: 1.5em;
  line-height: 1em;
  margin: 0.3em;
  color: paleturquoise;
}

.sentiment_input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: paleturquoise;
  border-bottom-width: 1px;
  width: 20em;
  background-color: transparent;
  color: white;
  font-size: 1.5em;
  cursor: auto;
  text-rendering: auto;
  text-align: center;
}

.sentiment_submit {
  margin-top: 1em;
  opacity: 1;
  margin-left: 0.5em;
  background-color: transparent;
  border: 3px solid #0b97c4;
  /*border-radius: 20px;*/
  font-size: 1.5em;
  cursor: pointer;
  width: 7em;
  color: #0b97c4;
  padding: none;
}

span {
  font-size: 1em;
}

.error {
  color : red;
}

.valid {
  color: green;
}

.pristine {
  color: ghostwhite;
}